@{
    ViewData["Title"] = "Home Page";
}


@{


}
<style>
    .gallery-view {
        align-content: center;
        padding-left: 100px;
      
    }
    .float-container {
        border: 3px solid #fff;
        padding: 20px;
    }

    .float-child {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid black;
    }
</style>



<div class="text-center">
    <br />
    <h1 class="display-4">Welcome To CNLA Doc-Sharing</h1>
</div><br />

      <div class="float-container">
          <div class="float-child">


              <a style="text-decoration:none;" href="@Url.Action("CNLA_InnersExterior","Files1")">

                  <img src="~/Folder.png" width="75px" />
                  CNLA - INNERS - EXTERIOR
              </a><br />


              <a style="text-decoration:none;" href="@Url.Action("CNLA_InnersRisk","Files1")">

                  <img src="~/Folder.png" width="75px" />
                  CNLA - INNERS - RISK
              </a><br />


              <a style="text-decoration:none;" href="@Url.Action("CNLA_InnersLeadership","Files1")">

                  <img src="~/Folder.png" width="75px" />
                  CNLA - INNERS - LEADERSHIP
              </a><br />
             
          </div>

          <div class="float-child">
              
              <a style="text-decoration:none;" href="@Url.Action("","")">

                  <img src="~/Folder.png" width="75px" />
                  To be Made...
              </a><br />
                  
                  <a style="text-decoration:none;" href="@Url.Action("","")">

                      <img src="~/Folder.png" width="75px" />
                      To be Made...
                  </a><br />
                  
                      <a style="text-decoration:none;" href="@Url.Action("","")">

                          <img src="~/Folder.png" width="75px" />
                          To be Made...
                      </a><br />
                 
          </div>
          </div>

